
<div class="row">
  <div class="col-lg-1 col-sm-12">
    <select class="form-select form-select-sm " id="select-limit">
      <option value="10">10</option>
      <option value="15">15</option>
      <option value="25">25</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
  <div class="col-lg-11 col-sm-12">
    <nav class="">
      <ul class="pagination pagination-sm justify-content-end" id="pagination-link">
      </ul>
    </nav>
  </div>
</div>