@model IEnumerable<Vidly.Models.Customer>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mb-2">
    <div class="col-10">
      <h2>Customers</h2>
    </div>
    <div class="col-2">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" id="btn-show-modal">
        New Customer
      </button>
    </div>
  </div>
  <div class="row">
    <div class="form-group row mb-3">
      <div class="col-lg-2 col-sm-12">
        <select class="form-select" id="filter-by">
          <option value="">Search By</option>
          <option value="name">Customer Name</option>
          <option value="membershipType.name">Membership Type</option>
          <option value="address">Address</option>
        </select>
      </div>
      <div class="col-lg-3">
        <div class="input-group">
                <input type="text" class="form-control" id="input-search" placeholder="Search here...." aria-describedby="btn-search">
                <button class="btn btn-primary" type="button" id="btn-search">Search</button>
              </div>
      </div>
    </div>
  </div>
  
  <!-- Modal -->
  <div class="modal fade" id="modal-dialog" tabindex="-1" role="dialog"  aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen-sm-down modal-fullscreen-md-down" role="document">
      <form id="modal-form">
        <div class="modal-content">
                <div class="modal-header">
                  <h6 class="modal-title" id="modal-label">Modal title</h6>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div class="mb-3">
                    <label for="customer-name" class="col-form-label">Name:</label>
                    <input type="text" class="form-control" id="customer-name" name="customer-name">
                  </div>
                  <div class="mb-3">
                    <label for="customer-address" class="col-form-label">Address:</label>
                    <input type="text" class="form-control" id="customer-address" name="customer-address">
                  </div>
                  <div class="mb-3">
                    <label for="membership-type" class="col-form-label">Membership</label>
                    <select class="form-select" id="membership-type" name="membership-type">
                      <option value="">Select Membership Type</option>
                      <option value="1">Membership 1</option>
                      <option value="2">Membership 2</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="col-form-label" for="birthdate">Date of Birth</label>
                    <input class="form-control" id="birthdate" name="birthdate" type="date" value="">
                  </div>
                </div>
                <div class="modal-footer">
                  <input class="form-control" id="customer-id" name="customer-id" type="hidden" value="">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button id="btn-submit" type="submit" class="btn btn-primary">Save changes</button>
                </div>
              </div>
      </form>
    </div>
  </div>
  
  <nav>
    <ul class="pagination justify-content-end" id="pagination-link">
    </ul>
  </nav>
  <table class="table table-bordered table-hover overflow-hidden" id="customer-table">
    <tr>
      <th>
        @Html.DisplayNameFor(model => model.Name)
      </th>
      <th >
        @Html.DisplayNameFor(model => model.Address)
      </th>
      <th >
        @Html.DisplayNameFor(model => model.BirthDate)
      </th>
      <th >
        @Html.DisplayNameFor(model => model.MembershipType.Name)
      </th>
      <th ></th>
    </tr>
    <tbody id="customer-table-body"></tbody>
  </table>
  <!-- Toast -->
  <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
    <div id="notification"  class="toast hide bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div class="toast-body">Hello, world! This is a toast message.</div>
        <button type="button" class="btn-close me-2 btn-close-white m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="modal-delete-dialog" tabindex="-1" aria-labelledby="modal-delete-title" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-delete-title">Delete Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p class="text-black">Are you sure you want to delete?</p>
        </div>
        <div class="modal-footer">
          <input class="form-control" id="delete-id" name="customer-id" type="hidden" value=""/>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button id="btn-delete" type="submit" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>


@section Scripts {
  <script  src="~/Scripts/Customs/customerAjax.js"></script>
}

